@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');





.myLabel {
    -fx-font-family: "Hanken Grotesk", sans-serif;
    -fx-font-optical-sizing: auto;
    -fx-font-weight: 500;
    -fx-font-style: normal;

}
.label{
    -fx-font-family: "Hanken Grotesk", sans-serif;
    -fx-font-optical-sizing: auto;
    -fx-font-weight: 500;
    -fx-font-style: normal;

}
.root{
    -fx-background-color: white;
}
.describe{
    -fx-font-family: "Hanken Grotesk", sans-serif;
    -fx-font-optical-sizing: auto;
    -fx-font-weight: 300;
    -fx-font-style: normal;

}

#reservation:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#reservation:hover, #paies:hover, #acc:hover, #reserverlambo:hover, #reservertesla:hover, #reservertoyota:hover, #logout:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.lambo:hover, .toyota:hover, .tesla:hover {
    -fx-font-size: 1.1em;
}

.carName {
    -fx-text-fill: #092454;
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-font-family: "Hanken Grotesk", sans-serif;
    -fx-font-style: normal;


}